@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab&display=swap');


/* Root Settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  

/* Header and Logo */

.logo {
    width: 300px;
    height: 200px;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.logo h1 {
    width: 600px;
    height: 150px;
    position: relative;
    top: -77%;
    left: 160px;
    font-size: 106px;
    background-color: #302f37;
    text-align: center;
    font-family: 'Amatic SC', cursive;

}
 .logo a{
     text-decoration: none;
     color: white;
 }







/* Navigation Bar */

#nav-bar {
    display: inline-block;
    width: 650px;
    height: 50px;
    position: relative;
    left: 1350px;
    bottom: 200px;

    
}

#nav-bar a {
    text-decoration: none;
    color: #302f37;
    font-size: 45px;
    margin-right: 50px;
}

#nav-bar a:hover {
    border: 2px solid #302f37;
    background-color: #302f37;
    color: white;
    border-radius: 50%;
}

/* Hero image */

#hero-img {
    width: 105%;
    height: 800px;
    background: url('/Assets/CSS/images/hero.jpg') no-repeat center center;
    margin-top: -25px;
    margin-bottom: 0;
    overflow: hidden;
}

/* Hero text */

#hero-txt,
#hero.txt h2 {
    color: white;
}

#hero-txt,
#hero.txt h3 {
    color: white;
}

#hero-txt {
    font-size: 55px;
    letter-spacing: 4px;

    width: 400px;
    height: 300px;
    background-color: rgba(48, 47, 55, .5);
    display: block;
    position: relative;
    top: -750px;
    left: 950px;
    overflow: hidden;

}

/* Main Article */

#w-w-r-h{
    text-align: center;
    font-size: 65px;
    position: relative;
    bottom: 300px;
}

#w-w-r-h p{
    display: inline-block;
    text-align: center;
    width: 290px;
    height: 50px;
    font-size: 30px;
}

#left{
    position: relative;
    float: left;
    bottom: 90px;
}

#right{
    float: right;
    position: relative;
    bottom: 90px;
}


#g-button h2{
    width: 200px;
    height: 85px;
    padding-top: 30px;
    background-color: #302f37;
    position: absolute;
    left: 840px;
    top: 1770px;
    text-align: center;
    transition: 0.7s;
    
    
}
 /* gallery button */

#g-button a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    
   
    
}

#g-button h2:hover{
    background-color: #e1a920;
    color: #302f37;
    
}

/* footer */

footer{
    width: 105%;
    height: 200px;
    background-color: #e1a920;
    position: relative;
    bottom: 0;
    top: 400px;
   
    
   
}

.connect li{
    list-style: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 160%;
    margin-right: 150px;
   
}

.connect i{
    width: 250px;
    height: 100px;
    position: relative;
    top: 50px;
}

footer h3{
    text-align: center;
    position: relative;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}